

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow:hidden;
}

/*
float: left; - use float to get block elements to slide next to each other

display: block; - Displaying the links as block elements makes the whole link area clickable (not just the text), and it allows us to specify padding (and height, width, margins, etc. if you want)

padding: 8px; - Since block elements take up the full width available, they cannot float next to each other. Therefore, specify some padding to make them look good background-color: #dddddd; 

- Add a gray background-color to each a element
*/
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background-image: linear-gradient(to bottom right,#004d4d, #66ccff);
}

h1 {
	color:white;

}

.right {
	float:right;
}
